@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";

html {
  font-family: var(--font-family);
  font: var(--font-m);
  font-weight: 400;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
