.app-wrapper {
  min-height: 100vh;
}

.app-container {
  display: flex;
  justify-content: space-between;
}

.app.app_light_theme,
.app.app_dark_theme {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color-primary);
}
