.Sidebar {
  width: 320px;
  background-color: var(--bg-color-sidebar);
  height: calc(100vh - var(--nav-height-desktop));
  position: relative;
  z-index: 5;

  @media (max-width: 1024px) {
    display: none;
    width: 260px;
    height: calc(100vh - var(--nav-height-mobile));
  }
}

.sbInner {
  @include flex-sb;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 0 20px 20px;

  @media (max-width: 1024px) {
    width: 250px;
  }
}
