.app_dark_theme {
  /* Common */
  --bg-color: #5c5470;
  --bg-color-sidebar: #e5e5e5;
  --text-color-primary: #faf0e6;
  --text-color-secondary: #b9b4c7;

  /* NavBar */
  --nav-bg-color: #352f44;
}
