.app_light_theme {
  /* Common */
  --bg-color: #ffd;
  --text-color-primary: #333;
  --text-color-secondary: #828282;

  /* NavBar */
  --nav-bg-color: #f2994a;

  /* Sidebar */
  --bg-color-sidebar: #fff2cc;
}
